body{
    background-color: black
}
h1{
    padding: 10px;
    text-align: center;
    color: white;
}
div.demonstratifs{
    width: 50%;
    height: 600px;
    background-color: rgb(230, 221, 174);
}
table{
    border: 10px;
    border-color: black;
    border-radius: 20px;
}
th{
    padding: 10px;
    text-align: center;
}
td{
    padding: 10px;
    text-align: center;
}
.cinquieme{
    width: 30px;
}
div.sixieme{
    width: 50%;
    height: 1000px;
    background-color: rgb(174, 230, 174);
}
input.sixieme{
    height: 20px;
    background-color: white;
}
h2{
    text-align: center;
    color: white;
}
div.dixieme{
    width: 50%;
    height: 1000px;
    background-color: rgb(218, 230, 174);
}
.COD{
    color: brown;
}
.COI{
    color: chocolate;
}
div.second{
    width: 50%;
    height: 1300px;
    background-color: rgb(174, 208, 230);
}
input.un{
    width: 3%;
    background-color: aquamarine;
}
input.deux{
    width: 60%;
    background-color: azure;
}
div.neuvieme{
    width: 50%;
    height: 1000px;
    background-color: rgb(174, 226, 230);
}
div.vingtieme{
    width: 50%;
    height: 1000px;
    background-color: rgb(230, 174, 230);
}
div.trentieme{
    width: 50%;
    height: 2100px;
    background-color: rgb(230, 174, 174);
}
div.centieme{
    width: 50%;
    height: 1000px;
    background-color: rgb(231, 120, 120);
}
b.quatre{
    color: red;
    text-decoration-line: underline;
    background-color: rgb(234, 215, 250);
}
ul.blanc, h2{
    text-align: center;
}
li{
    font-size: 14pt;
}
b.rouge{
    color: red;
}
b.vert{
    color: green;
}
input.plus{
    width: 70%;
    background-color: rgb(145, 218, 145);
}
input.moins{
    width: 70%;
    background-color: rgb(218, 178, 145);
}
input.trois{
    width: 30%;
    background-color: rgb(145, 218, 206);
}
div.pouvoir{
    width: 50%;
    height: 1100px;
    background-color: rgb(120, 137, 231);
}
p.pouvoir{
    text-align: justify;
    font-size: 12pt;
}
input.lu{
    width: 23%;
    background-color: rgb(218, 145, 173);
}
input.vu{
    width: 70%;
    background-color: rgb(218, 145, 173);
}
